html,  body {
        background-color: #000000;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0; 
        color: #fd0000;
      }
  
      header {
       background-color: #6b1515;
        color: #ff0000;
        padding: 20px;
        position: static;
        top: 0;
        width: 100%;
        z-index: 1;
        font-size: 30;
        font-style: italic;
	style="text-align: center;"
        
            }
      
      nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        cursor: pointer;  
      }
      
      nav li {
        display: inline-block;
        margin-right: 20px;
        cursor: pointer;
      }
      
      nav a {
        color: #fff;
        text-decoration: none;
      }
      
      main {
        max-width: 800px;
        margin: 20px auto;
        padding: 0 20px;
        margin-top: 11%;
      }
      
      h2 {
        color: #333;
        font-size: 24px;
        margin-top: 40px;
      }
      h3 {
	  border-radius: 25%;
       }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
      }
      
      li {
        margin-top: 10px;
        cursor: pointer;
      }
      p1 {
        color: red;
        font-size: 64px;
              }
      img {
        display: block;
        margin: 20px auto;
        max-width: 100%;
      }
      span {
        font: italic;
      }
      button, input[type="button"] {
        background-color: #000000;
        border-radius: 100px;
        border: 3px solid rgb(77, 13, 8);;
        color: rgb(77, 10, 10);
        padding: 15px 32px;
        text-align: center;
        font-size: 24px;
        cursor: pointer;
        margin-top: 0%;
        margin-left: 36%;
      }

    </style>
